body {
  color:#40535a;
}
.chat-list-wrapper {
  padding: 0;
  margin: 10px auto;
  max-width: 700px;
}

.chat-list-wrapper h1 {
  text-align: center;
}

.chat-list-wrapper .btn-container {
  max-width: 300px;
}

.btn, .btn-large {
  background-color: #0099cc;
}
.btn:hover, .btn-large:hover {
  background-color: #40535a;
}
.collection .collection-item {
  padding: 0;
}
.collection {
  background-color: white;
}
ul.collection {
  padding-left: 20px;
}