body {
  color:#40535a;
}

.chat-list-wrapper {
  padding: 10px 20px;
  margin: 70px auto 50px;
  max-width: 700px;
}

.chat-list-wrapper h3 {
  text-align: center;
}

.chat-list-wrapper .btn-container {
  max-width: 300px;
  margin: 0 auto;
}

.chat-list-wrapper .btn-container {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 12px;
}

.btn, .btn-large {
  background-color: #0099cc;
}
.btn:hover, .btn-large:hover {
  background-color: #40535a;
}
.collection .collection-item {
  padding: 0;
}
.collection {
  background-color: white;
}
ul.collection {
  padding-left: 20px;
}