.room { 
   width: 78%;
   padding-top: 10px;
   display: flex;
   justify-content: center;
   padding-bottom: 100px;
 }

.room-header svg {
  font-size: 18px;
  vertical-align: text-bottom !important;
}

 .room .rm-flex-item {
   width: 65%;
   padding-left: 30px;
   padding-top: 20px;
 }

.room .rm-flex-language {
  width: 30%;
  padding-left: 20px;
}

.room form input { 
  width: 82.5%; 
  margin-right: .5%; 
}

.room form { 
  margin-top: 30px;
  width: 100%;
}

.room #messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

.room #messages li:first-child { 
  margin-top: 30px; 
}

.room #messages li { 
  padding: 5px 10px; 
}

.room #messages li:nth-child(odd) { background: #fff; }

