* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color:#EFF1F1;*/
}

#root, #root > div, .app {
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}