* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color:#EFF1F1;*/
  /*background-color: #DFDFDF;*/
  /*background-color: #C9D6EA;*/
  /*background-color: #E0F2E9;*/
  background-color: #F4FAFF;
}

#root, #root > div, .app {
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}