.home-view {
  text-align: center;
  margin-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.translator-title {
  margin-top: 50px;
  padding: 20px 20px;
  text-align: left;
  color: #0099cc;
  text-align: center;
}

.translator-title h2 {
  margin: 0;
}

.home-view .home-container {
  max-width: 700px;
  margin: 0 auto;
  /*background-color: #FFFCFF;*/
  /*background-color: #cccccc*/
}

.home-view .instructions {
  margin-top: 20px;
}

.home-view-intro {
  font-size: large;
}

.home-view .userText {
  height: 30px;
  width: 600px;
  vertical-align: text-top;
}

.home-view input {
  font-size:20px;
}

.home-view p {
  color: #474448;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.speak {
  width: 150px;
  height: 60px;
  background-color: #0099cc;
  color: white;
  border: 0;
  text-align: center;
  line-height: 50%;
  font-size: 30px;
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px;
  transition: all 0.3s ease 0s;
}

.home-view .submit{
  width: 100px;
  height: 40px;
  background-color: #0099cc;
  color: white;
  border: 0;
  text-align: center;
  line-height: 50%;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
}

.home-view .fa-microphone {
  font-size: 30px;
}

.home-view button:hover {
  opacity: 0.75;
}

.fa-user:hover {
  color: #fff; 
}

.home-view .edit-button {
  background-color: white;
  width: 80px;
  height: 60px;
  border: 2px solid #0099cc;
  vertical-align: top;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0099cc;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.home-view form#translate {
  vertical-align: middle;
  padding: 0 20px 20px;
} 

.translate-wrap, .translation {
  min-height: 250px;
  padding: 30px 0;
  /*border: 2px solid #ccc;*/
  border-radius: 7px;
  background-color: white;
  border: 1px solid #e0e0e0;
}

.translation {
  margin-top: 0;
}

.home-view .original-text {
  text-align: center;
  margin-top: 50px;
}

.home-view input {
  margin-top: 50px;
  text-align: center;
}

.select-dropdown  li span{
  color: #474448;
}
.select-dropdown li:hover, .select-dropdown li span:hover {
  background-color: #0099cc;
  color: white;
}

.select-wrapper .initialized {
  color: white;
}

.select-dropdown li .selected{
  background-color: magenta;
}
