.profile-view {
    max-width: 600px;
    margin: 70px auto 550px;
    text-align: center;
    padding: 0 20px;
}

.profile-view h3, .profile-view h4 {
    margin-top: 30px;
    margin: 30px;
}

.select-wrapper input.select-dropdown {
    text-align: left
}

.row .langauge-choice-row {
    margin: 0;
}

.col .input-field .s12 {
    margin: 0;
}