.Profile {
    display: inline-block;
}
.profile-view{
    max-width: 700px;
    margin: 0 auto;
}

.select-wrapper input.select-dropdown {
    text-align: left
}
.row .langauge-choice-row {
    margin: 0;
}
.col .input-field .s12 {
    margin: 0;
}