.app {
  text-align: center;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.app-intro {
  font-size: large;
}
.userText{
  height: 30px;
  width: 600px;
  vertical-align: text-top;
}
input{
  font-size:20px;
}
p{
  color: #474448;
}
.app hr{
  border-top: 1px solid #dcdcdc;
  width: 100%;
}
.speak{
  width: 250px;
  height: 60px;
  background-color: #C95A7B;
  color: white;
  border: 0;
  text-align: center;
  line-height: 50%;
  font-size: 30px;
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
}
.submit{
  width: 250px;
  height: 60px;
  background-color: #C95A7B;
  color: white;
  border: 0;
  text-align: center;
  line-height: 50%;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
}
.fa-microphone {
  font-size: 30px;
}
button:hover{
  opacity: 0.75;
}
.fa-bars:hover, .fa-user:hover {
  color: white; 
}
.edit-button{
  background-color: white;
  width: 80px;
  height: 60px;
  border: 2px solid #C95A7B;
  margin-top: 30px;
  padding: 0;
  vertical-align: top;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #C95A7B;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.speak, .edit-button{
  margin-bottom: 50px;
}

form#translate {
  vertical-align: middle;
} 
form#translate p{
  width: 500px;
}
.original-text-container{
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.original-text{
  text-align: center;
  width:430px;
}
input {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    text-align: center;
}
.tts-icon{
  height: 60px;
  vertical-align: top;
  margin-top: 30px;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

