.add-rm-form-wrapper {
  max-width: 550px;
  margin: 50px auto 20px;
}

.add-rm-form-wrapper .close-icon-bin {
  text-align: right;
  font-size: 26px;
}

.add-rm-form-wrapper .close-icon-bin {
  margin-left: 7px;
}

/*.add-rm-form-wrapper input {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 18px;
}*/
/*
.wrapper button {
  width: 8%;
  margin-left: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  font-size: 18px;
}*/

row input {
  width: 100%;
}
.add-rm-form-wrapper .user-bin-list {
  padding: 30px 20px;
}

.add-rm-form-wrapper .user-bin-list li {
  list-style: none;
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #d1d1d1;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.selected-users-wrap {
  margin-top: 20px;
  display: flex;
}

.selected-users-wrap .selected {
  border: 1px solid black;
  padding: 5px 20px;
}

.selected-users-wrap .selected span {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  width: 450px;
}

div.user-bin {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 0;
}
div.user-bin{
  padding: 0;
}
ul.user-bin-list {
  padding: 0;
}
li.chat-listing p{
  text-align: left;
}
.add-rm-form-wrapper .user-bin-list li{
  border: none;
  padding: 0;
}

.chat-listing p span {
  display: inline-block;
  padding-right: 20px;
  font-size: 17px;
  font-weight: bold;
}
.conversation-wrapper {
  display: flex;
  align-items: center;
}