.add-rm-form-wrapper {
  padding: 10px 20px;
  max-width: 700px;
  margin: 50px auto 20px;
}

.add-rm-form-wrapper .close-icon-bin {
  text-align: right;
  font-size: 26px;
}

.add-rm-form-wrapper .close-icon-bin {
  margin-left: 7px;
}

.add-rm-form-wrapper .to-center-wrap {
  max-width: 550px;
  margin: 0 auto;
}

.add-rm-form-wrapper .input-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-rm-form-wrapper .input-wrapper .input-field {
  width: 82% !important;
}

.add-rm-form-wrapper .input-wrapper .input-field input {
  width: 100% !important;
}

.add-rm-form-wrapper .selected-users-wrap {
  padding-top: 10px;
  padding-bottom: 20px;
}

.add-rm-form-wrapper .input-wrapper button {
  top: 15px !important;
}

.add-rm-form-wrapper .user-bin-list {
  padding: 20px 20px;
}

.add-rm-form-wrapper .user-bin-list li {
  list-style: none;
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-radius: 5px;
  padding-left: 3px;
  cursor: pointer;
}

.add-rm-form-wrapper .user-bin-list li:hover {
  background-color: #eeeeee !important;
}

.selected-users-wrap {
  margin-top: 20px;
  display: flex;
}

.selected-users-wrap .selected {
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.selected-users-wrap .selected span {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}

.selected-users-wrap .selected span svg {
  vertical-align: text-bottom !important;
  font-size: 18px;
}

.row {
  display: flex;
  align-items: center
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  width: 450px;
}

div.user-bin {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 0;
}
div.user-bin{
  padding: 0;
}
ul.user-bin-list {
  padding: 0;
}
li.chat-listing p{
  text-align: left;
}

.chat-listing p span {
  display: inline-block;
  padding-right: 20px;
  font-size: 17px;
  font-weight: bold;
}
.conversation-wrapper {
  display: flex;
  align-items: center;
}

