.chat-room-wrapper {
  display: flex;
  min-height: 100%;
}

.chat-room-wrapper .sidebar-container {
  min-height: 100%;
}

.chat-room-wrapper .sidebar-container .collection {
  padding-left: 20px !important;
  padding-right: 20px;
} 

.chat-room-wrapper .mobile-options {
  padding: 20px 20px 0;
}

@media only screen and (min-width: 650px) {
  .chat-room-wrapper .mobile-options {
    display: flex;
    justify-content: space-around;
  }
  .chat-room-wrapper .mobile-options .mobile-link-option {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.chat-room-wrapper .mobile-options li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border-radius: 3px;
}

.chat-room-wrapper .mobile-options .mobile-link-option {
  cursor: pointer;
}

.chat-room-wrapper .mobile-options .mobile-link-option div {
  display: inline-block;
  line-height: 30px;
  vertical-align: text-top;
}

.chat-room-wrapper .mobile-options .mobile-link-option a {
  cursor: pointer !important;
}

.chat-room-wrapper .mobile-options .mobile-link-option:hover {
  background-color: #eeeeee;
}

.chat-room-wrapper .mobile-options li svg {
  font-size: 14px;
  vertical-align: inherit !important;
  fill: #33bf70;
}

.chat-room-wrapper .user-name {
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .chat-room-wrapper {
    display: block;
  }
}
