.header-wrapper {
  width: 100%;
  background-color: #40535a;
  /*background-color: #247BA0;*/
  -webkit-box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
  -moz-box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
  box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
}

.header-wrapper .app-header {
  color: #474448;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.header-wrapper a:link, .header-wrapper a:visited {
  color:#fff; 
}

.header-wrapper .nav-icons svg {
  color: #fff;
  margin: 0 30px 0 30px;
}

.header-wrapper .nav-icons svg:hover {
  color: #0099cc;
}

.header-wrapper .nav-icons a:hover {
 color: #0099cc;
}

.header-wrapper .highlight {
  color: #fff;
}

.header-wrapper img {
  height: 150px;
  width: 525px;
}

.header-wrapper svg:hover{
  color: #0099cc;
}

.header-wrapper .registration {
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .header-wrapper .app-header {
    display: block;
  }
  .header-wrapper .app-title {
    text-align: center;
  }
  .header-wrapper img {
   display: inline-block;
  }
  .header-wrapper .nav-icons {
    text-align: center;
  }
  .header-wrapper .registration-container {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .header-wrapper img {
   height: 118.75px;
   width: 380px;
  }
}
