.header-wrapper {
  width: 100%;
  background-color: #AFC2D5;
  -webkit-box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
  -moz-box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
  box-shadow: -2px -117px 83px 107px rgba(0,0,0,0.32);
}

.header-wrapper .app-header {
  background-color: #AFC2D5;
  color: #474448;
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;
}

.header-wrapper a:link, .header-wrapper a:visited {
  color: #474448;
}

.header-wrapper .nav-icons svg {
  margin: 0 30px 0 30px;
}

.header-wrapper .highlight{
  color: white;
}

.header-wrapper img.app-logo{
  height: 40px;
  margin-left: 15px; 
}

.header-wrapper .app-title{
  display: flex;
  align-items: center;
}

.header-wrapper .app-title h1, .header-wrapper .app-title img {
  display: inline-block;
  vertical-align: center;
}

.header-wrapper svg:hover{
  color: white;
}
.header {
  padding: 0 80px;
  background-color: #AFC2D5;
}
