.collection {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px; 
  min-height: 100%;
  padding-bottom: 30px;
}

.chat-list-wrapper .collection {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.sidebar-container .collection li ul li {
  margin-left: 0 !important;
}

.collection li, .collection li a li {
  margin-left: 10px !important;
}

h5 svg {
  font-size: 17px;
  vertical-align: inherit !important;
  fill: #33bf70;
}

.collection ul li:first-child {
  padding-top: 18px;
  margin-bottom: 30px;
}

.collection ul li:last-child h5 {
  margin-bottom: 20px;
}

.number {
  background-color: #40535a;
  color: #fff;
  margin-right: 7px;
  padding: 2px 7px;
  border-radius: 2px;
}


.chat-list {
  list-style: none;
}

.chat-listing {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 3px;
}

.chat-room-title-container {
  text-align: center;
}

.chat-room-title-container a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #ff4444;
  border-radius: 3px;
  color: #ff4444;
  cursor: pointer;
}

.chat-room-title-container a:hover {
  font-size: 15px;
  border: 1.5px solid #ff4444;
}

.collection .collection-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.collection .collection-item:hover {
  background-color: #eeeeee !important;
  cursor: pointer;
}

.chat-listing .collection-item p {
  padding: 0;
}

.trash-icon-wrap {
  padding-left: 20px;
  font-size: 18px;
}

.trash-icon-wrap:hover {
  font-size: 20px;
  color: #ff4444;
}