.collection {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px; 
  min-height: 100%;
  padding-bottom: 30px;
  padding-left: 0 !important;
}

.sidebar-container .collection li ul li {
  margin-left: 0 !important;
}

.collection li, .collection li a li {
  margin-left: 10px !important;
}

h5 svg {
  font-size: 17px;
  vertical-align: inherit !important;
  fill: #33bf70;
}

.collection ul li:first-child {
  padding-top: 18px;
  margin-bottom: 30px;
}

.collection ul li:last-child h5 {
  margin-right: 20px;
  margin-bottom: 20px;
}

.number {
  background-color: #40535a;
  color: #fff;
  margin-right: 7px;
  padding: 2px 7px;
  border-radius: 2px;
}


.chat-list {
  list-style: none;
}

.chat-listing {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.collection .collection-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.collection .collection-item:hover {
  background-color: #eeeeee !important;
  cursor: pointer;
}

.chat-listing .collection-item p {
  padding: 0;
}